@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix"), format(embedded-opentype),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
}

body {
  font-family: "Vazir" !important;
}

.icon {
  color: #0d6efd;
  background-color: #ebeafb;
  display: inline-flex;
  padding: 15px;
  border-radius: 15px;
}
